<%= hidden_field_tag 'movie[url]', params[:url]%>
<%= hidden_field_tag 'movie[title]', params[:title]%>
<%= hidden_field_tag 'movie[user_id]', current_user.id%>

<div class="control-group">
 <div class="controls">
   <%= label_tag '推荐感言' %>
   <%= text_area_tag 'movie[recommend_words]', nil,class: 'recommend-words' %>
  </div>
</div>
