<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet"> 

-->

<div class="row-fluid">
  <div class="span3">
 	  <!-- Left  -->
  	<div class="left">            	
      <ul class="nav   nav-tabs nav-stacked">
        <li class="head">
          <div>
            <!--<img data-src="holder.js/300x200"  src="<%= image_path("head.png")%>" class="img-polaroid">-->
            <%= image_tag avatar_url(current_user,150), class: "img-rounded img-polaroid"%>
          </div>
        </li>
        <li>
          <%= link_to  home_path do  %>
            <i class="icon-home"></i> &nbsp;主页
          <% end %>
        </li>
        <li>
          <%= link_to bookmark_path(params[:show_type]='inbox'), remote: true, "data-type" => "json", class: "inbox" do %>
            <i class="icon-inbox"></i>  &nbsp;归档
          <% end %>
        </li>                    
        <li>
          <%= link_to bookmark_path(params[:show_type]='favorite'), remote: true, "data-type" => "json", class: "favorite" do %>
            <i class="icon-star"></i>  &nbsp;喜欢
          <% end %>
        </li>  
        <li class="divider"></li>
        <li class="nav-header">收藏夹</li>
          <%= render 'categories' %> 
        <li><a data-toggle="modal" href="#myModal"><i class="icon-plus"></i>  &nbsp;创建收藏夹</a></li>          
        <li class="divider"></li>
        <li class="nav-header">标签</li>                              
        <% user.owned_tags.limit(5).order('id desc').each do |tag| %>
          <li>
            <%= link_to  tag_path(tag.name), class: "tag-link" do %>
              <i class="icon-tag"></i> <%= tag.name %>
            <% end %>
          </li>
        <% end %>
        <li><%= link_to "更多标签", tags_path, class: "more-tags", remote: true, format: "json" %><li>
      </ul>
    </div>
    <!-- left END -->
  </div>
  <div class="span6">
    <!-- center  -->  
    <div class="center">
      <%= form_tag  multiple_bookmarks_path, method: :delete do %>
      <div class=" control_bar">
        <div class="span2">
          <%= check_box_tag "select-all",params[:ids]%> 全选
        </div>
        <div class="span5  input-append "> 
            <% categories_array = categories.map { |c| [c.title,c.id]}%>
            <%= select_tag "category_id", options_from_collection_for_select(categories,'id','title'), class: 'span5'%>
            <%= button_tag "移动至收藏夹", class: "btn", name: "move_button" %>
        </div>
        <div class="span5 btn-group">
          <%= button_tag  class: 'btn btn-danger', name: "destroy_button" do %>
            <i class="icon-trash icon-white"></i> 删除选中
          <% end %>
          <%= button_tag class: 'btn btn-inverse', name: "inbox_button" do  %>
            <i class="icon-inbox icon-white"></i> 归档 
          <% end %>
        </div>
      </div>
      <ul class="bookmark-list media-list">
        <%= render 'bookmarks'%>
      </ul>
      <% end %>
    </div>
    <!-- center END -->
  </div>
  <div class="span3 ">
    <!-- right -->
    <div class="right">
      <h4 class="title-of-description"></h4>
      <img src="" />
      <p class="description">
              选择左面到书签 这里将显示对应到网站简介 (如果它有的话..) 
      </p>
      <form>
        <textarea class="bookmark_note" placeholder="还没有笔记呢..." ></textarea>
      </form>
    </div>
    <!-- right END -->
  </div>        
</div>


<!-- Alert -->
<%= form_tag categories_path, class: 'modal fade category-form', id: 'myModal', format: 'json' do %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>创建收藏夹</h3>
  </div>
  <div class="modal-body">
    <p>收藏夹标题</p>
      <%= text_field_tag "category[title]"%>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
    <%= submit_tag "保存", class: "btn btn-primary"%>
  </div>
<% end %>


<%= form_tag bookmarks_path, class: "modal fade", id: "add-mark" do %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>添加书签</h3>
  </div>
  <div class="modal-body">
    <div class="input-prepend input-append">
      <span class="add-on">http://</span>
      <%= text_field_tag "bookmark[link]" %>
      <%= submit_tag "添加", class: "btn"%>
	  </div>
    <br/>
    <small>按Enter确认</small>
  </div>
<% end %>
<!-- Alert END-->


