



<div class="row">
  <div class="span8">
    
    <%= form_for user, url: user_path(user), method: :put, class: 'form-horizontal' do |f| %>
      <fieldset>
        <legend>个人设置</legend>

        <div class="control-group">
          <label class="control-label" for="fileInput">上传头像</label>
          <!--<div class="controls">-->
            <!--<input class="input-file btn" id="fileInput" type="file">-->
          <!--</div>	-->
        </div>
        <!---->
        <p>请在<a href="https://cn.gavatar.com">Gavatar</a>上传头像MarkCase会自动同步</p>
        <div class="control-group">
          
          <%= f.label '用户名', class: 'control-label' %>
          <div class="controls">
           
            <%= f.text_field :username, class: 'input-xlarge',
            required: :required, 'data-validation-required-message' => '不能空' %>
            <p class="help-block">字母，数字，汉字皆可</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label "个人简介", class: "control-label" %>
          <div class="controls">
            <%= f.text_area :description, class: "input-xlarge", id: "textarea", rows: 3 %>
            <p class="help-block">请输入您的个性签名</p>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "保存设置", class: "btn btn-primary" %>
        <!--<button class="btn">取消</button>-->
        </div>    
      </fieldset>  
    <% end %>
    <hr>
    
    <%= form_tag reset_password_path, class: "form-horizontal" do %>
      <fieldset>
        <legend>设置密码</legend>  
        <div class="control-group">
          <%= label_tag :password, "原密码", class: "control-label" %>
          <div class="controls">
            <%= password_field_tag :password, params[:password], class: "input-xlarge",
             required: nil, "data-validation-required-message" => "不能空",
             minLength: "6", "data-validation-minlength-message" => "密码必须大于6个字符" %>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :new_password, "新密码", class: "control-label" %>
          <div class="controls">
            <%= password_field_tag :new_password, params[:new_password], class: "input-xlarge",
             required: nil, "data-validation-required-message" => "不能空", name: "password", 
             minLength: "6", "data-validation-minlength-message" => "密码必须大于6个字符"  %>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :password_confirmation, "确认新密码", class: "control-label" %>
          <div class="controls">
            <%= password_field_tag :password_confirmation, params[:password_confirmation], class: "input-xlarge",
             required: nil, "data-validation-required-message" => "不能空",
             "data-validation-match-match" => "password", "data-validation-match-message" => "两次密码不一致" %>           
             <p class="help-block"></p>
          </div>
        </div>   
        <div class="form-actions">  
          <%= submit_tag "保存设置", class: "btn btn-primary" %>      
        </div>    
      </fieldset>
    <% end %>  

      	
  </div>
    <div class="span4">
    </div>
                
  </div>
</div>




