<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved"><%= category.title%>中的书签</h3>
		<ul class="tabs">
    		<li><a href="#tab2">书签</a></li>
    		<li><a href="#tab3">收藏夹</a></li>    		
		</ul>    
  </header>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
      <div id="bookmarks-list">
      <table class="tablesorter display" cellspacing="0" >
        <thead>
        <tr>
          <th>书签链接</th>
          <th></th>
          <th>操作</th>
        </tr>
       </thead>
       <tbody>
       <% bookmarks.each do |book|%> 
        <tr>
          <td><%= link_to book.link, "http://#{book.link}"%></td>
          <td><%= link_to book.title, admin_bookmark_path(book) %></td>
          <td>
            <%= link_to image_tag("admin/icn_edit.png"), edit_admin_bookmark_path(book), title: "编辑"%>
          
            <%= link_to image_tag("admin/icn_trash.png"), admin_bookmark_path(book), method: :delete, title: "删除" %>
          </td>
        </tr>
       <% end %>
      </tbody>
    </table>
   </div>
  </div>
     <div id="tab2" class="tab_content">
        <div id="categories-list">
        <table class="tablesorter display" cellspacing="0" id="categories-list">
          <thead>
            <tr>
              <th>收藏夹名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
      </div>
    </div>
</article><!-- end of content manager article -->
