<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved">用户管理</h3>
		<ul class="tabs">
   			<li><a href="#tab1">用户</a></li>
    		<li><a href="#tab2">书签</a></li>
    		<li><a href="#tab3">收藏夹</a></li>    		
		</ul>    
  </header>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
      <table class="tablesorter display" cellspacing="0" id="users">
        <thead>
        <tr>
          <th></th>
          <th>用户名</th>
          <th>邮箱地址</th>
          <th>最后登录时间</th>
          <th>操作</th>
        </tr>
       </thead>
       <tbody>
        <% users.each do |user|%> 
          <tr>
            <td><%= check_box_tag "users-item", user.id %></td>
            <td><%= link_to user.username, admin_user_path(user)%></td>
            <td><%= user.email %></td>
            <td><%= user.updated_at %></td>
            <td>
            <%= link_to image_tag("admin/icn_edit.png"), edit_admin_user_path(user), title: "编辑" %>
            <%= link_to image_tag("admin/icn_trash.png"), admin_user_path(user), method: :delete, title: "删除",
              confirm: "Are you sure", remote: true, 'data-type' => 'json' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
      <div id="tab2" class="tab_content">
      <table class="tablesorter display" cellspacing="0" id="bookmarks-list">
        <thead>
        <tr>
          <th>书签链接</th>
          <th></th>
          <th>操作</th>
        </tr>
       </thead>
       <tbody>
        <% bookmarks.each do |book|%> 
          <tr>
            <td><%= check_box_tag "users-item", book.id %></td>
            <td><%= link_to book.link, admin_bookmark_path(book)%></td>
            <td><%= book.user.username %></td>
            <td><%= book.updated_at %></td>
            <td>
            <%= link_to image_tag("admin/icn_edit.png"), edit_admin_bookmark_path(book), title: "编辑"%>
              
            <%= link_to image_tag("admin/icn_trash.png"), admin_boomark_path(book), method: :delete, title: "删除" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
     <div id="tab3" class="tab_content">
        <table class="tablesorter display" cellspacing="0" id="categories-list">
          <thead>
            <tr>
              <th>收藏夹名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
</article><!-- end of content manager article -->
