<article class="module width_3_quarter">
  <header><h3 class="tabs_involved">用户管理</h3></header>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table class="table">
          <tr> 
            <td>头像：</td>
            <td><%= image_tag avatar_url(user,150)%></td>
          </tr>
          <tr> 
            <td>用户名：</td>
            <td><%= user.username %></td>
          </tr>
          <tr> 
            <td>E-mail：</td>
            <td><%= user.email %></td>
          </tr>
          <tr> 
            <td>个性签名：</td>
            <td><%= user.description%></td>
          </tr>
        </table>
      </div>
    </div>
</article><!-- end of content manager user -->
<!--<article class="module width_3_quarter">
  <header><h3 class="tabs_involved">书签</h3></header>
    <div class="tab_container">
      <div id="tab2" class="stab_content">
 -->
		    <article class="module width_3_quarter">
		     
          <header><h3>添加书签</h3></header>
				    <div class="module_content">
                <%= form_for [:admin,bookmark] do |f| %>
						    <fieldset>
                  <%= f.label "链接" %>
                  <%= f.text_field :link %>
						    </fieldset>
						    <fieldset style="width:48%; float:left; margin-right: 3%;">
							    <%= f.label "收藏夹"%> 
							    <% categories_array = categories.map { |c| [c.title,c.id] } %>
							    <%= f.select :category_id,options_for_select(categories_array)%>
						    </fieldset>
						    <fieldset style="width:48%; float:left;"> 
							    <%= f.label "标签"%>
							    <%= f.hidden_field :tag_list %>
							    <ul id="bookmarkTags" class="pull-left" style="width:80%; float:left; margin-right: 3%;">
                    <% bookmark.tag_list.each do |tag| %>
                      <li><%= tag %></li>
                    <% end %>
                  </ul>
						    </fieldset><div class="clear"></div>
				    </div>
			    <footer>
				    <div class="submit_link">
              <%= f.submit "提交", class: "alt_btn"%>
              <%= f.submit 'Reset'%>
				    </div>
			    </footer>
          <% end %>          
        </article><!-- end of edit user information -->       
        <!-- 
      </div>
    </div>
</article>-->

<!-- categories add -->
		    <article class="module width_3_quarter">
		     
          <header><h3>添加收藏夹</h3></header>
                <%= form_for [:admin,user,categories.build] do |f| %>
				    <div class="module_content">
						    <fieldset>
                  <%= f.label "名称" %>
                  <%= f.text_field :title %>
						    </fieldset><div class="clear"></div>
				    </div>
			    <footer>
				    <div class="submit_link">
              <%= f.submit "提交", class: "alt_btn"%>
              <%= f.submit "Reset"%>
				    </div>
			    </footer>
          <% end %>          
        </article><!-- end of edit user information -->      

